<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>九宫格</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="wrap">
        <div id="body">
            <div class="grid">
                <h3>
                    <%= time %>
                    <br>
                    <%= year %><span>年</span>
                    <%= month %><span>月</span>
                    <%= date %><span>日</span>
                    <%= hour %><span>时</span>
                    <br>
                    <%= wuxing.year %><span>年</span>
                    <%= wuxing.month %><span>月</span>
                    <%= wuxing.date %><span>日</span>
                    <%= wuxing.hour %><span>时</span>
                </h3>
                <div id="case4" class="block" style="background-color: #8BC34A;">
                    <table>
                        <tbody>
                            <tr>
                                <td>4 巽</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                            <tr>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                            <tr>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="case9" class="block" style="background-color: #F44336;">
                    <table>
                        <tbody>
                            <tr>
                                <td>9 离</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="case2" class="block" style="background-color: aliceblue;">
                    <table>
                        <tbody>
                            <tr>
                                <td>2 坤</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                            <tr>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                            <tr>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="case3" class="block" style="background-color: #8BC34A;">
                    <table>
                        <tbody>
                            <tr>
                                <td>3 震</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                            <tr>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                            <tr>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="case5" class="block" style="background-color: cornsilk;">
                    <table>
                        <tbody>
                            <tr>
                                <td>5</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="case7" class="block" style="background-color: #FFEB3B;">
                    <table>
                        <tbody>
                            <tr>
                                <td>7 兑</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                            <tr>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                            <tr>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="case8" class="block" style="background-color: aliceblue;">
                    <table>
                        <tbody>
                            <tr>
                                <td>8 艮</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                            <tr>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                            <tr>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="case1" class="block" style="background-color: #03A9F4;">
                    <table>
                        <tbody>
                            <tr>
                                <td>1 坎</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                            <tr>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                            <tr>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="case6" class="block" style="background-color: #FFEB3B;">
                    <table>
                        <tbody>
                            <tr>
                                <td>6 乾</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                            <tr>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                            <tr>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>


</body>

</html>