<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>奇门遁甲排盘（茅山派）</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <div id="wrap">
        <div id="body">
            <div class="grid">
                <h3>
                    <%= time %>
                        <br>
                        <span class="label label-primary">
                            <%= year %>
                        </span> 年
                        <span class="label label-primary">
                            <%= month %>
                        </span> 月
                        <span class="label label-primary">
                            <%= date %>
                        </span> 日
                        <span class="label label-primary">
                            <%= hour %>
                        </span> 时
                        <br>
                        <span class="label label-warning">
                            <%= wuxing.year %>
                        </span> 年
                        <span class="label label-warning">
                            <%= wuxing.month %>
                        </span> 月
                        <span class="label label-warning">
                            <%= wuxing.date %>
                        </span> 日
                        <span class="label label-warning">
                            <%= wuxing.hour %>
                        </span> 时
                </h3>
                <div id="case4" class="block" style="background-color: #8BC34A;">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <strong>4 巽</strong>
                                </td>
                                <td id="shen">shen</td>
                                <td class="hidden34">x</td>
                            </tr>
                            <tr>
                                <td class="hidden34">x</td>
                                <td id="men">men</td>
                                <td id="tianPan">tianpan</td>
                            </tr>
                            <tr>
                                <td class="hidden34">x</td>
                                <td id="xing">xing</td>
                                <td id="dipan">dipan</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="case9" class="block" style="background-color: #F44336;">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <strong>9 离</strong>
                                </td>
                                <td id="shen">shen</td>
                                <td class="hidden9">x</td>
                            </tr>
                            <tr>
                                <td class="hidden9">x</td>
                                <td id="men">men</td>
                                <td id="tianPan">tianpan</td>
                            </tr>
                            <tr>
                                <td class="hidden9">x</td>
                                <td id="xing">xing</td>
                                <td id="dipan">dipan</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="case2" class="block" style="background-color: aliceblue;">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <strong>2 坤</strong>
                                </td>
                                <td id="shen">shen</td>
                                <td class="hidden258">x</td>
                            </tr>
                            <tr>
                                <td class="hidden258">x</td>
                                <td id="men">men</td>
                                <td id="tianPan">tianpan</td>
                            </tr>
                            <tr>
                                <td class="hidden258">x</td>
                                <td id="xing">xing</td>
                                <td id="dipan">dipan</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="case3" class="block" style="background-color: #8BC34A;">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <strong>3 震</strong>
                                </td>
                                <td id="shen">shen</td>
                                <td class="hidden34">x</td>
                            </tr>
                            <tr>
                                <td class="hidden34">x</td>
                                <td id="men">men</td>
                                <td id="tianPan">tianpan</td>
                            </tr>
                            <tr>
                                <td class="hidden34">x</td>
                                <td id="xing">xing</td>
                                <td id="dipan">dipan</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="case5" class="block" style="background-color: aliceblue;">
                    <table>
                        <tbody>
                            <tr>
                                <td><strong>5</strong></td>
                                <td class="hidden258">x</td>
                                <td class="hidden258">x</td>
                            </tr>
                            <tr>
                                <td class="hidden258">x</td>
                                <td class="hidden258">x</td>
                                <td class="hidden258">x</td>
                            </tr>
                            <tr>
                                <td class="hidden258">x</td>
                                <td class="hidden258">x</td>
                                <td class="hidden258">x</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="case7" class="block" style="background-color: #FFEB3B;">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <strong>7 兑</strong>
                                </td>
                                <td id="shen">shen</td>
                                <td class="hidden67">x</td>
                            </tr>
                            <tr>
                                <td class="hidden67">x</td>
                                <td id="men">men</td>
                                <td id="tianPan">tianpan</td>
                            </tr>
                            <tr>
                                <td class="hidden67">x</td>
                                <td id="xing">xing</td>
                                <td id="dipan">dipan</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="case8" class="block" style="background-color: aliceblue;">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <strong>8 艮</strong>
                                </td>
                                <td id="shen">shen</td>
                                <td class="hidden258">x</td>
                            </tr>
                            <tr>
                                <td class="hidden258">x</td>
                                <td id="men">men</td>
                                <td id="tianPan">tianpan</td>
                            </tr>
                            <tr>
                                <td class="hidden258">x</td>
                                <td id="xing">xing</td>
                                <td id="dipan">dipan</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="case1" class="block" style="background-color: #03A9F4;">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <strong>1 坎</strong>
                                </td>
                                <td id="shen">shen</td>
                                <td class="hidden1">x</td>
                            </tr>
                            <tr>
                                <td class="hidden1">x</td>
                                <td id="men">men</td>
                                <td id="tianPan">tianpan</td>
                            </tr>
                            <tr>
                                <td class="hidden1">x</td>
                                <td id="xing">xing</td>
                                <td id="dipan">dipan</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="case6" class="block" style="background-color: #FFEB3B;">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <strong>6 乾</strong>
                                </td>
                                <td id="shen">shen</td>
                                <td class="hidden67">x</td>
                            </tr>
                            <tr>
                                <td class="hidden67">x</td>
                                <td id="men">men</td>
                                <td id="tianPan">tianpan</td>
                            </tr>
                            <tr>
                                <td class="hidden67">x</td>
                                <td id="xing">xing</td>
                                <td id="dipan">dipan</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>

</body>

</html>