body {
    margin: 0;
    padding-bottom: 20px;
    padding-top: 60px;
    background-color: #fefff3eb;
}

.hidden34{
    color: #8BC34A;
}
.hidden258{
    color: #9E9E9E;
}
.hidden67{
    color: #FFEB3B;
}
.hidden1{
    color: #03A9F4;
}
.hidden9{
    color:  #F44336;
}
.containerTable{
    padding-right: 0;
    padding-left: 0; 
}
.ptb { 
    margin:0; 
    padding:0; 
    clear:both; 
    border:#443 3px solid; 
    /* table-layout: fixed;
    width: 441px; height:441px;  */
    background-color:#fff;}
.ptb td {text-align: center; overflow: hidden;vertical-align:middle!important;}
.ptb td.r1t0 {width:48px;height:48px;/* border-right:#999 1px solid; */}
.ptb td.r2t0 {width:47px;height:48px; border-right:#443 2px solid;}
.ptb td.r0t0 {width:49px;height:49px;}
.ptb td.r1t1 {width:48px;height:48px;/* border-right:#999 1px solid; *//* border-top:#999 1px solid; */}
.ptb td.r2t1 {width:47px;height:48px;border-right:#443 2px solid;/* border-top:#999 1px solid; */}
.ptb td.r0t1 {width:48px;height:48px;/* border-top:#999 1px solid; */}
.ptb td.r1t2 {width:48px;height:47px;/* border-right:#999 1px solid; */border-top:#443 2px solid;}
.ptb td.r2t2 {width:47px;height:47px; border-right:#443 2px solid; border-top:#443 2px solid;}
.ptb td.r0t2 {width:49px;height:47px; border-top:#443 2px solid;}
/* .ptb td div {position:relative;top:0;left:0; width:49px; height:47px;} */

.ptb .sr { font-size:20px;color: red;margin:0px;}
.ptb .K0 { font-size:20px;color: #7777dd;margin:0px;}
.ptb .diPanDiZhi { font-size:20px;margin:0px;}
.ptb .xing { font-size:20px;margin:0px;}

.ptb .gua { font-size:20px; border:solid 1px #ffffff!important;margin:0px;}
.jin{color: #FF9800;}
.mu{color: #4CAF50;}
.shui{color: #03A9F4;}
.huo{color: #F44336;}
.tu{color: #795548;}

.trh { height: 48px;vertical-align:middle!important}

.pz { 
    width:434px;    
    margin-right: auto;
    margin-left: auto;
}