body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background: #EEE;
}

#wrap {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#body .grid {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 480px;
    height: 480px;
    margin-left: -240px;
    margin-top: -300px;
    /* border-radius: 10px; */
    /* background: rgba(255, 235, 59, 0.7); */
}

#body .block {
    position: relative;
    float: left;
    width: 160px;
    height: 160px;
    cursor: pointer;
    font-size: 18px;
}

#body .line {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #000000;
}

#body #line0 {
    width: 100%;
    top: 155px;
}

#body #line1 {
    width: 100%;
    top: 315px;
}

#body #line2 {
    height: 100%;
    left: 157px;
}

#body #line3 {
    height: 100%;
    left: 317px;
}

#body #line4 {
    height: 100%;
}

#body #line5 {
    width: 100%;
}

#body #line6 {
    width: 100%;
    top: 475px;
}

#body #line7 {
    height: 100%;
    left: 477px;
}

table {
    width: 100%;
    height: 100%;
}
.hidden34{
    color: #8BC34A;
}
.hidden258{
    color: aliceblue;
}
.hidden67{
    color: #FFEB3B;
}
.hidden1{
    color: #03A9F4;
}
.hidden9{
    color:  #F44336;
}