body {
    margin: 0;
    padding-bottom: 20px;
    padding-top: 60px;
}

h1 {
    text-align: center;
}

section {
    padding-bottom: 20px;
}

section:last-child {
    border: none;
}

section:after {
    content: '';
    display: table;
    clear: both;
}

.box {
    position: relative;
    float: left;
    width: 20%;
    text-align: center;
    font-size: 16px;
    font-size: 2vw;
    background: orange;
    overflow: hidden;
}

#viewwidth .box,
.viewwidth.box {
    height: 20vw;
}

#padding .box,
.padding.box {
    padding-bottom: 20%;
}

#margin .box:after,
.margin.box:after {
    content: '';
    display: block;
    margin-top: 100%;
}

#maxheight .box {
    max-height: 2em;
}

#maxheight .box:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

table {
    width: 100%;
    height: 100%;
}
.hidden34{
    color: #8BC34A;
}
.hidden258{
    color: #9E9E9E;
}
.hidden67{
    color: #FFEB3B;
}
.hidden1{
    color: #03A9F4;
}
.hidden9{
    color:  #F44336;
}